

<footer class="site-footer">
<img src="/assets/images/5m004.gif" alt="คำอธิบาย" style="float: center; width: 300px; margin-left: 10px;"><br>

<center><a href="/">หน้าแรก</a> / <a href="/pages/vinaya.html">พระวินัย</a> / <a href="/pages/sutta.html">พระสูตร</a> / <a href="/pages/abhidhamma.html">พระอภิธรรม</a></center>
  <div class="footer-content">

    <!-- อภิธานศัพท์ -->
    <section class="dictionary-section">
      <h3>📚 <span class="highlight">อภิธานศัพท์</span></h3>
      <input type="text" id="paliInput" placeholder="ค้นหาคำแปลและความหมาย...">
      <div id="paliResult"></div>
        </section>
    </div>

    <!-- เกี่ยวกับธรรมสุตตะ -->
    <div class="footer-section about-us">
    <center>  <h4>🛞 ธรรมสุตตะ</h4>
      <p>แหล่งเรียนรู้ค้นคว้าพระธรรมคำสอน<br>จากพระไตรปิฎกและอรรถกถา</p></center>
    </div>

    <!-- ปุ่มกลับขึ้นบน -->
    <div class="footer-section back-to-top">
      <a href="#" id="back-to-top" title="กลับขึ้นด้านบน">
        ⬆️ <span>กลับด้านบน</span>
      </a>
    </div>

  </div>

 
  </div>
</footer>
