<!DOCTYPE html>
<html lang="th">
<head>
    </html
<body>
<div class="page-wrapper">

    <div id="nav-placeholder"></div>

    <main>
          <div class="main-content">
                <section class="scripture-explorer" id="scripture-explorer">
                    <h2 class="section-title-new">คัมภีร์ในพระไตรปิฎก</h2>
                    <div class="vb-frame">
                        <center>
                            <label for="bookSelect"><h3>เลือกตามชื่อคัมภีร์:</h3></label>
                            <select id="bookSelect">
                                <option value="">-- ค้นหาตามชื่อ --</option>
                            </select>
                        </center>
                        <br>
                        <div id="bookOutput" class="vb-output">
                            กรุณาเลือกเพื่อดูรายละเอียดและคำอธิบายเบื้องต้น
                        </div>
                    </div>
                </section>
            </div>
    </main>
    
    <footer>
        </footer>

</div> <script src="/js/main.js"></script>

</body>
</html>
