<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-column about-us">
            <h4>ธรรมสุตตะ</h4>
            <p>แหล่งเรียนรู้และค้นคว้าพระธรรมคำสอนจากพระไตรปิฎกและอรรถกถา เพื่อความเจริญในธรรม</p>
        </div>

        <div class="footer-column">
            <h4>นำทาง</h4>
            <nav class="footer-nav">
                <a href="/">หน้าแรก</a>
                <a href="/pages/vinaya.html">พระวินัยปิฎก</a>
                <a href="/pages/sutta.html">พระสุตตันตปิฎก</a>
                <a href="/pages/abhidhamma.html">พระอภิธรรมปิฎก</a>
            </nav>
        </div>

        <div class="footer-column">
            <h4></h4>
            <nav class="footer-nav">
                <a href="/pages/about.html">อภิธานศัพท์</a>
                <a href="/pages/contact.html">ติดต่อ/เสนอแนะ</a>
                <a href="/pages/policy.html">นโยบายเว็บไซต์</a>
            </nav>
        </div>
    </div>
    <div class="footer-bottom-bar">
    <a href="/">🛞 ธรรมสุตตะ</a>
    </div>
</footer>
