<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ธรรมสุตตะ | หน้าค้นหา</title>
    <meta name="description" content="ค้นหาข้อความ พระสูตร คำสอน และหมวดหมู่ต่าง ๆ 
จากพระไตรปิฎกและธรรมะในเว็บไซต์ธรรมสุตตะ รวบรวมเนื้อหาธรรมะอย่างเป็นระบบเพื่อการศึกษาพระธรรม">
  <meta name="keywords" content="ธรรมสุตตะ, พระไตรปิฎก, ธรรมะ, ค้นหา, พระสูตร,
      พระวินัย, อภิธรรม, คำสอนพระพุทธเจ้า, ค้นหาธรรมะ, ปรัชญาพุทธ, 
      ศาสนาพุทธ, สุตตันตปิฎก, วินัยปิฎก, อภิธรรมปิฎก />
  <meta name="author" content="ธรรมสุตตะ" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="140x140">
    <link rel="stylesheet" href="/assets/css/style.css" /> 
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-568JJVLV44"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-568JJVLV44');
    </script>

     <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "headline": "ค้นหา",
  "description": "ค้นหาข้อความ พระสูตร คำสอน และหมวดหมู่ต่าง ๆ 
จากพระไตรปิฎกและธรรมะในเว็บไซต์ธรรมสุตตะ"
  <meta name="keywords" content="ธรรมสุตตะ, พระไตรปิฎก, ธรรมะ, ค้นหา, พระสูตร,
      พระวินัย, อภิธรรม, คำสอนพระพุทธเจ้า, ค้นหาธรรมะ, ปรัชญาพุทธ, 
      ศาสนาพุทธ, สุตตันตปิฎก, วินัยปิฎก, อภิธรรมปิฎก",
  "url": "https://dhamma-sutta.com/search/index.html",
  "author": {
    "@type": "Organization",
    "name": "dhamma-sutta.com"
  },
  "publisher": {
    "@type": "Organization",
    "name": "dhamma-sutta.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://dhamma-sutta.com/assets/images/logo.png"
    }
  },
  "mainEntityOfPage": "https://dhamma-sutta.com/search/index.html"
}
</script>
</head>

<body>
<div class="page-wrapper">
<div id="nav-placeholder"></div>

        <main class="container">

           <div class="main-content">
     <h3>🔍 ค้นหาตามหัวข้อ</h3>
  <script async src="https://cse.google.com/cse.js?cx=51c4343b3eeb842d6"></script>

  <div class="search-wrapper">
    <div class="gcse-search"></div>
  </div>
           

        </main>

        <footer class="site-footer">
            <p>ธรรมสุตตะ</p>
        </footer>

    </div>

    <script src="assets/js/main.js"></script>

</body>

</html>
